@using MVC_VIDEOS.Models;
@model IEnumerable<LastClientRentViewModel>

@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar Cédula</h2>

@using (Html.BeginForm("Edit", "Games", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Juego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_juego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipojuego)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_alquiler)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Juego)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description_juego)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipojuego)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_alquiler)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", item.Cedula)
                </td>
            </tr>
        }
    </table>

}