@using MVC_VIDEOS.Models;
@model IEnumerable<LastClientRentViewModel>

@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar Cédula</h2>

@using (Html.BeginForm("Edit", "Games", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", item.Cedula)
                </td>
            </tr>
        }
    </table>

}