@model IEnumerable<MVC_VIDEOS.alquileres>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_alquier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientes.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.juegos.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_juego.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in (List<alquileres>)ViewBag.alquileres)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_alquier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientes.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.juegos.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_juego.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_alquiler }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_alquiler }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_alquiler })
        </td>
    </tr>
}

</table>
